# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

kmp.dSYM/Contents/Info.plist

kmp.dSYM/Contents/Resources/DWARF/kmp

maze.dSYM/Contents/Info.plist

maze.dSYM/Contents/Resources/DWARF/maze

.huffman.c.swp

huffman.dSYM/Contents/Info.plist

huffman.dSYM/Contents/Resources/DWARF/huffman

test/array.dSYM/Contents/Info.plist

test/array.dSYM/Contents/Resources/DWARF/array

.gitignore

.gitignore

*.swp

graph.dSYM/Contents/Info.plist

graph.dSYM/Contents/Resources/DWARF/graph

shortest.dSYM/Contents/Info.plist

shortest.dSYM/Contents/Resources/DWARF/shortest

shortestall.dSYM/Contents/Info.plist

shortestall.dSYM/Contents/Resources/DWARF/shortestall
